.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
  height: var(--header-height);
  transition: background 0.2s ease, height 0.2s ease;
}

.container {
  width: 100%;
  max-width: var(--max-width);
}

.items {
  height: 100%;
  width: 100%;
  max-width: var(--max-width);
  justify-content: unset !important;
}

.scrolled {
  height: var(--header-height-scrolled);
  background: #04040A;
  border-bottom: 1px solid #25252580;
}

.nav-link {
  font-size: 16px;
  margin-right: 16px;
  color: rgb(var(--text-alt));
  font-weight: bold;
}

.title-text {
  font-size: 24px;
  color: rgb(var(--text));
}