:root {
  --max-width: 1100px;
  --border-radius: 8px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --text: 235, 236, 245;
  --text-alt: 120, 120, 120;
  --background: 6, 7, 16;
  --primary: 152, 159, 228;
  --secondary: 24, 33, 137;
  --accent: 33 50, 235;

  --header-height: 100px;
  --header-height-scrolled: 80px;
}

.fx-container {
  display: flex;
}

.fx-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fx-row {
  flex-direction: row;
}

.fx-column {
  flex-direction: column;
}

.section-heading {
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-top: 100px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  color: rgb(var(--text));
  background: rgb(var(--background));
}

a {
  color: inherit;
  text-decoration: none;
}
