.main {
  width: 100%;
  max-width: var(--max-width);
  height: 100%;
  min-height: 100vh;
  position: relative;
  padding-top: calc(1 * var(--header-height));
}

.hero {
  width: 100%;
  margin: 15vh 0;
  align-items: start;
  gap: 20px;
}

.title {
  font-size: 60px;
}

.sub-heading {
  font-size: 30px;
  color: rgb(var(--text-alt));
  max-width: 100%;
}

.call-to-action {

  margin-top: 10px;

  > button {
    width: 250px;
    margin-right: 20px;
    padding: 20px 0;
    border-radius: var(--border-radius);
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.1s ease, color 0.1s ease;
    margin-bottom: 20px;
  }
}

.action-1 {
  background: rgb(var(--secondary));
  color: rgb(var(--text));

  &:hover {
    background: rgba(var(--secondary), 0.3);
  }
}

.action-2 {
  background: none;
  color: rgb(var(--text));

  &:hover {
    color: rgb(var(--text-alt));
  }
}

.image {
  width: 100%;
  height: auto;
}


.solutions, .key-features, .roadmap {
  min-height: 60vh !important;
  gap: 50px;
}

.solution-list {
  align-items: baseline;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}

.featured-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.roadmap-summary {
  font-size: 22px;
  color: rgb(var(--text-alt));
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
}

.roadmap-desc {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contact {
  align-items: center;
  min-height: unset !important;
  height: 30vh;
}

.contact-btn {
  width: 250px;
  margin-right: 20px;
  padding: 20px 0;
  border-radius: var(--border-radius);
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.1s ease, color 0.1s ease;
  background: rgb(var(--secondary));
  color: rgb(var(--text));

  &:hover {
    background: rgba(var(--secondary), 0.3);
  }
}

@media (min-width: 924px) {
  .sub-heading {
    max-width: 50vw;
  }
}

@media (min-width: 1100px) {
  .sub-heading {
    max-width: 45vw;
  }
}

@media (max-width: 640px) {
  .roadmap-summary {
    font-size: 20px;
  }
}